
@{
    ViewBag.Title = "Admin Panel";
}
<div class="container">
	<h2>Manage</h2>
	<hr />
	<ul>
		<li>@Html.ActionLink("Users", "Index", "EditUser", new { area = "Admin" }, null)</li>
		<li>@Html.ActionLink("Categories", "Index", "Categories")</li>
		<li>@Html.ActionLink("Products In Stock", "Index", "Products")</li>
		<li>@Html.ActionLink("Deleted Products", "ListDeleted", "Products", new { area = "Admin" }, null)</li>
		<li>@Html.ActionLink("Manage Account", "Index", "Manage", new { area = "" }, htmlAttributes: new { title = "Manage" })</li>
		<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
	</ul>
</div>

