@model OnlineStore.Web.Areas.Admin.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
		<div class="form-group">
			@Html.LabelFor(model => model.ImageToView, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<img src="@Model.ImageToView" id="selectedImage">
				@Html.TextBoxFor(m => m.ImageFromView, new { type = "file", name = "imageFromView", @onchange = "readURL(this)" })
				@Html.ValidationMessageFor(model => model.ImageFromView, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
